/* Colores
    primary - #0277bd
    light primary - #58a5f0
    dark primary - #004c8c
    secundary - #4fc2f7
    light secundary - #8bf5ff
    dark secundary - #0092c4
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

img {
    max-width: 100%;
}

video {
    width: 100%;
}

header {
    background-color: #004c8c;
    color: whitesmoke;
    position: fixed;
    top: 0px;
    box-shadow: 0px 0px 8px 0px black;
    width: 100%;
}

header .container {
    display: flex;
    align-items: center;
}

.container {
    margin: 0 auto;
}

body {
    background-color: whitesmoke;
}

#logo {
    flex: auto;
    font-size: x-large;
    padding: 15px;
}

#logo:hover {
    color: white;
    font-weight: bold;
}

.hamburger {
    background-color: #004c8c;
    color: whitesmoke;
    border: none;
    padding: 15px;
}

.hamburger span {
    font-size: xx-large;
}

.hamburger:hover {
    color: white;
}

header form {
    display: flex;
}

#search {
    margin-right: 10px;
}

#search input {
    padding: 10px;
}

#search button {
    background-color: #004c8c;
    color: whitesmoke;
    border: none;
}

#search button:hover {
    color: white;
}

video {
    max-width: 1600px;
    margin: 0 auto;
}

#search span {
    font-size: x-large;
    padding: 5px;
}

nav {
    margin-top: 65px;
}

nav a {
    text-decoration: none;
    color: black;
}

article {
    box-shadow: 1px 1px 5px 1px #4fc2f7;
    margin-bottom: 50px;
}

section {
    display: flex;
    background-color: #8bf5ff;
}

article div {
    text-align: center;
    transition: font-size 0.5s;
    font-size: 4vw;
    font-weight: 700;
    padding: 20px;
    color: #004c8c;
    background-color: #51e9f7;
}

figure {
    padding: 30px;
    margin: 0 auto;
}

footer .container {
    padding: 20px;
    position: sticky;
    text-align: center;
    border-top: 1px solid gainsboro;
}

img {
    transition: width 0.5s;
    width: 30vw;
}

figcaption {
    transition: font-size 0.5s;
    font-size: 3vw;
    margin-top: 15px;
    color: #0277bd;
    text-align: center;
}

.dropbtn {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown:hover .dropbtn {
    background-color: #58a5f0;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#menu {
    background-color: #0371b1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 800px) {
    #menu {
        display: none;
        max-width: 300px;
        position: fixed;
        top: 0px;
        box-shadow: 0 0 5px 0 black;
    }
    #menu .dropdown {
        display: block;
    }
    main {
        margin-top: 65px;
    }
    .dropbtn {
        width: 268px;
    }
    .dropdown-content {
        width: 300px;
    }
}

@media screen and (min-width: 801px) {
    #menu .container {
        display: flex;
        align-items: center;
    }
    nav {
        margin-top: 59px;
    }
    .hamburger {
        display: none;
    }
    .container {
        width: 80%;
    }
}